body{
    font-family: Avenir,sans-serif;
}

.contenedor {
    margin: 25px auto;
    width: 25%;
}

.preguntaFormulario {
    margin-top: 10px;
    text-align: center;
}

.ultimoValor {
    color: darkred;
}